<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'events/base.html' %}
    {% block content %}
    <center>
        <h1>hello {{name}} 
            {{year}}
            {{month}}
            {{month_number}}
            
        </h1>
        As of right now the time is {{time}}
        {{cal|safe}}
        current year is {{current_year}}
    </center>
    {% endblock content %}
    
</body>
</html>